nav {
  padding-bottom: 100px;
  margin-right: 125px;
}

nav .navbar-brand img {
  width: 450px;
  padding-left: 125px;
  padding-top: 25px;
}

nav .nav-item {
  padding-left: 25px;
  padding-top: 35px;
}

#carouselExampleControls .carousel-inner {
  padding-top: 150px;
  padding-left: 125px;
  padding-right: 125px;
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
